@tailwind base;
@tailwind components;
@tailwind utilities;


.calendar-wrapper .rbc-calendar {
  font-family: 'Times New Roman', sans-serif; 
  font-size: 16px; 
  padding-bottom: 30px !important;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  background-color: transparent !important;
  border: none !important;
  vertical-align: middle;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  padding-left: 8px;
}

.rbc-agenda-time-cell {
  font-weight: normal;
  color: inherit;
  padding: 8px 16px !important;
}

.rbc-agenda-content-cell {
  padding: 4px !important;
}

.rbc-agenda-event-cell {
  width: 100%;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr {
  background-color: white !important;
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}
.animate-fade-in-out {
  animation: fade-in-out 1.5s;
}